@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --BG: white;
  --THEME: tomato;
  --THEME-Highlight: rgb(212, 93, 72);
  --DARK: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 15%;
  user-select: none;
}

/* Top menu */

.menu {
  position: fixed;
  top: 0;
  background-color: var(--DARK);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.menu-button {
  background-color: var(--BG);
  color: var(--DARK);
  padding: 15px 0;
  width: 200px;
  margin: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  position: relative;
  transition: background-color 0.1s ease;
}

.menu-button:hover {
  background-color: peachpuff;
}

div.menu button.disable {
  background-color: #ccc;
  color: #666;
}

/* Scoreboard */
.scoreboard {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
}

.scoreboard .score-container {
  min-width: 130px;
  min-height: 130px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.scoreboard .score-container#user-score {
  border: 3px solid var(--THEME);
  color: var(--THEME-Highlight);
}
.scoreboard .score-container#cpu-score {
  border: 3px solid var(--DARK);
}

.scoreboard .score-container .score-header {
  font-size: 1.5rem;
}
.scoreboard .score-container .score {
  font-size: 1.8rem;
}

/* Player Phase */
.button-container {
  width: 500px;
  min-width: 500px;
  height: 500px;
  background-color: var(--THEME);
  align-self: center;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
  box-shadow: 0 0 15px -5px var(--DARK);
}

.button-container .btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  font-family: "Lobster", cursive, sans-serif;
  font-size: 2rem;
  color: var(--THEME-Highlight);
  cursor: pointer;
  box-shadow: 0 0 50px -15px var(--DARK);
  transition: all 0.1s ease;
}

.button-container .btn:not(:last-child) {
  margin-top: 50px;
}

.button-container .btn:hover,
.button-container .active {
  color: var(--BG);
  box-shadow: 0 0 50px -5px var(--DARK);
}

.button-container .active {
  background-color: var(--THEME-Highlight);
}

.button-container .btn:hover {
  background-color: var(--THEME);
}

/* Play-info */

#cpu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cpu-info .info-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

#cpu-info .info-container {
  font-size: 2rem;
  font-family: "Lobster", cursive, sans-serif;
  border-radius: 50%;
  background-color: var(--DARK);
  color: var(--BG);
  min-width: 200px;
  min-height: 200px;
  display: grid;
  place-content: center;
  box-shadow: 0 0 20px -5px var(--DARK);
  text-transform: capitalize;
}

/* Notification bar */

.notification {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: var(--THEME);
  text-align: center;
}

.notification p {
  color: var(--BG);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.7rem;
  line-height: 300%;
}

/* restart end game */
.end {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 3, 3, 0.9);
  opacity: 0;
  transition: opacity 0.2s ease;
  display: grid;
  place-content: center;
}
