@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

:root {
  --BG: white;
  --THEME: tomato;
  --THEME-Highlight: rgb(197, 72, 50);
  --DARK: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* padding: 0 5%; */
}

/* Scoreboard */
.scoreboard {
  display: flex;
  flex-direction: column;
}

.scoreboard .score-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard .score-container#user-score {
  border: 3px solid var(--THEME);
  color: var(--THEME-Highlight);
}
.scoreboard .score-container#cpu-score {
  border: 3px solid var(--DARK);
}

.scoreboard .score-container .score-header {
  font-size: 1.5rem;
}
.scoreboard .score-container .score {
  font-size: 1.8rem;
}
/* Player Phase */
.button-container {
  width: 500px;
  height: 500px;
  background-color: var(--THEME);
  align-self: center;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: center;
  /* transition: all 0.5s ease; */
}

.button-container .btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: none;
  font-family: "Lobster", cursive, sans-serif;
  font-size: 2rem;
  color: var(--THEME-Highlight);
}

.button-container .btn:not(:last-child) {
  margin-top: 50px;
}

/* Play-info */

#cpu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cpu-info .info-header {
  font-size: 2rem;
  text-align: center;
}

#cpu-info .info-container {
  font-size: 3rem;
  font-family: "Lobster", cursive, sans-serif;
  border-radius: 50%;
  background-color: var(--DARK);
  color: var(--BG);
  width: 200px;
  height: 200px;
  display: grid;
  place-content: center;
}
